  <div class="container">
    <h3>cafeの情報を入力する</h3>
    <%= form_with model: @post, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
      <p><%= f.file_field :image %></p>
      <p><%= f.text_field :name, placeholder: "Cafe name" %></P>
      <p><%= f.text_area :text, placeholder: "text", rows: "10" %></P>
      <p><%= f.submit "SEND" %></p>
    <% end %>
  </div>
