<div class="post-show">
  <h3 class="name"><%= @post.name %></h3>
  <%= image_tag @post.image ,class:"post-img-two"%>
  <p><%= @post.text %></p>
<% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
    <%= link_to "編集", "#", class:"post-edit"%>
    <%= link_to "削除", "#", class:"post-destroy"%>
  <% end %>
<% end %>
</div>